# Neural Search

An AI powered search engine using Transformers, K-Means, and Cosine Similarity.

In [4]:
!pip install -q transformers

WARNING: You are using pip version 22.0.4; however, version 22.3.1 is available.
You should consider upgrading via the '/home/ec2-user/anaconda3/envs/pytorch_p38/bin/python -m pip install --upgrade pip' command.

In [13]:
import sagemaker
import pandas as pd

In [11]:
sess = sagemaker.Session()

bucket_name = sess.default_bucket()
role_name = sagemaker.get_execution_role()

bucket_prefix = "neural-search"

## Load data

In [14]:
data_location = f"s3://{bucket_name}/{bucket_prefix}/data"

movies_metadata_location = f"{data_location}/movies_metadata.csv"
df_movies = pd.read_csv(movies_metadata_location)

ratings_location = f"{data_location}/ratings_small.csv"
df_ratings = pd.read_csv(ratings_location)

/home/ec2-user/anaconda3/envs/pytorch_p38/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3524: DtypeWarning: Columns (10) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [17]:
df_movies.head(1)

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",...,1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0

In [19]:
df_ratings.head(1)

   userId  movieId  rating   timestamp
0       1       31     2.5  1260759144